* {
    color: black;
}
.backdrop {
    background-color: black;
}
.hero-text {
    color: white;
}
.centered {
    text-align: center;
}
.picture {
    background-color: white;
    margin-top: 1em;
}
img {
    max-width: 100%;
    height: auto;
    padding-left: 10rem;
    margin-right: 0;
    vertical-align: middle;
    border-style: none;
}
.box {
    background: #0f2f4e;  
    position: absolute;
    top: 30%;
    left: 16px;
    font-size: 18px;
    padding: 1rem;
}
/* Style the navbar */
#navbar {
    background: #0f2f4e;
    border: 1px solid white; 
    z-index: 2;
  }
.menu-options {
    color: white !important;
    display:inline-block;
}
.staff {
    color: white !important;
    float: right;
    margin-right: 1rem;
    padding-right: 1rem;
}
  /* Navbar links */
  #navbar a {
    float: none;
    padding: 14px;
    text-decoration: none;
}
  
/* Page content */
.content {
    margin-left: 1rem;
}

li, p, h1, h2 {
    margin-left: 1rem;
    padding-top: 1rem;
}
  
/* The sticky class is added to the navbar with JS when it reaches its scroll position 
Code adapted from https://www.w3schools.com/howto/howto_js_navbar_sticky.asp*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
/* Add some top padding to the page content to prevent sudden quick movement 
(as the navigation bar gets a new position at the top of the page (position:fixed and top:0) 
Code adapted from https://www.w3schools.com/howto/howto_js_navbar_sticky.asp */
/*.sticky + .content {
    padding-top: 50px;
}*/

#second-section {
    background-color: black;
}
#menu-content {
    background-color: lightgrey;
}
.menu-text {
    color: white;
}
#project-main-image {
    background: no-repeat center center fixed;
    background-size: cover;
    margin-left: 10rem;
    padding: 25rem;
    width: fit-content;
    height: fit-content;
}